<!-- <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
        <img src={{personaActual.Avatar}}/>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        {{personaActual.Acerca_de}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        {{personaActual.Nombre}} {{personaActual.Apellido}}
        <br>
        {{personaActual.Fecha_Nacimiento}}
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
        <img src={{personaActual.Banner}} />
    </mat-grid-tile>
</mat-grid-list>
 -->
<mat-card>
    <mat-card-header>
        <img mat-card-avatar src={{personaActual.Avatar}} />
        <mat-card-title>{{personaActual.Nombre}}, {{personaActual.Apellido}}</mat-card-title>
        <mat-card-subtitle>{{personaActual.Fecha_Nacimiento|date:"dd/MM/yyyy"}}</mat-card-subtitle>
    </mat-card-header>
    <img height="500" width="500" mat-card-image src={{personaActual.Banner}} alt="Imagen descriptiva">
    <mat-card-content>
        <p>
            {{personaActual.Acerca_de}}
        </p>
    </mat-card-content>
    <mat-card-actions *ngIf="autServicio.logueado()">
        <button mat-button> Editar </button>
        <button mat-button> Eliminar </button>
    </mat-card-actions>
</mat-card>
<app-experiencia [idPersona]="personaActual.idPersona"></app-experiencia>
<app-proyectos [idPersona]="personaActual.idPersona"></app-proyectos>
<app-formacion [idPersona]="personaActual.idPersona"></app-formacion>