<mat-card id="formacion">
    <mat-card-header>
        <mat-card-title class="mat-elevation-z18"> Formación ({{disciplinaActual.nombre}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card *ngFor="let formacion of formacionMostrar" class="mat-elevation-z18">
            <mat-card-title class="mat-elevation-z18">{{formacion.titulo}}</mat-card-title>
            Tipo de formación: {{formacion.tipo}}<br>
            {{formacion.logo}} - {{formacion.institucion}}<br>
            <div style="text-align: right;">
                {{formacion.fecha_Inicio|date:"dd/MM/yyyy"}} - {{formacion.fecha_Final|date:"dd/MM/yyyy"}}<br>
            </div>
            <mat-card-actions *ngIf="autServicio.logueado()">
                <button mat-raised-button *ngIf="!agregandomodificando" (click)="btnModificar($event, formacion)">
                    Editar
                </button>
                <button mat-raised-button *ngIf="!agregandomodificando" (click)="btnEliminar($event, formacion)">
                    Eliminar
                </button>
            </mat-card-actions>
        </mat-card>
        <button mat-raised-button *ngIf="autServicio.logueado()&&!agregandomodificando" (click)="btnAgregar($event)">
            Agregar formacion
        </button>

        <mat-card *ngIf="agregandomodificando">
            <app-editformacion (nuevaformacion)="recibirformacion($event)" [disciplinaActual]="disciplinaActual"
                [formacion]="amodificar"></app-editformacion>
            <mat-card-actions>
                <button mat-raised-button (click)="btnDescartar($event)"> Descartar </button>
            </mat-card-actions>
        </mat-card>
    </mat-card-content>
</mat-card>