<mat-card>
    <mat-card-header>
        <mat-card-title class="mat-elevation-z18"> Proyectos ({{disciplinaActual.nombre}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-card class="experiencia mat-elevation-z18" *ngFor="let proyecto of proyectosMostrar">
            <mat-card-header>
                <mat-card-title>{{proyecto.nombre}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Descripción: {{proyecto.descripcion}}<br>
                Enlace: <a href="{{proyecto.enlace}}"> {{proyecto.enlace}}</a><br>
                <div style="text-align: right;">
                    {{proyecto.fecha|date:"dd/MM/yyyy"}}<br>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>