<mat-card>
    <mat-card-header>
        <mat-card-title class="mat-elevation-z18"> Proyectos ({{disciplinaActual.nombre}})</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <mat-card class="proyecto mat-elevation-z18" *ngFor="let proyecto of proyectosMostrar">
            <mat-card-header>
                <mat-card-title>
                    <a href="{{proyecto.enlace}}" target="_blank">
                        {{proyecto.nombre}}
                    </a>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div style="text-align: center">
                    <strong>Descripción:</strong> {{proyecto.descripcion}}<br>
                </div>
                <div style="text-align: right;">
                    <strong>Publicado:</strong> {{proyecto.fecha_Publicacion|date:"dd/MM/yyyy"}}<br>
                </div>
                <app-imagenes [imagenes]="proyecto.imagenes" [proyecto]="proyecto"></app-imagenes>
                <mat-card-actions *ngIf="autServicio.logueado()">
                    <button mat-raised-button (click)="btnModificar($event, proyecto)">
                        Editar proyecto<mat-icon>border_color</mat-icon>
                    </button>
                    <button mat-raised-button (click)="btnEliminar($event, proyecto)">
                        Eliminar proyecto<mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
        <button mat-raised-button *ngIf="autServicio.logueado()" (click)="abrirDialogo()">
            Agregar proyecto <mat-icon>add</mat-icon>
        </button>
    </mat-card-content>
</mat-card>