<h1 mat-dialog-title>Eperiencia</h1>
<form [formGroup]="formulario">
    <mat-dialog-content>
        <mat-form-field>
            <mat-label> Puesto </mat-label>
            <input matInput formControlName="puesto" type="text" placeholder="Ingrese el puesto">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Tareas </mat-label>
            <input matInput formControlName="descripcion_Tareas" type="text"
                placeholder="Ingrese las tareas que realiza">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Logo de la empresa </mat-label>
            <input matInput formControlName="logo_Empresa" type="text" placeholder="Ingrese el logo de la empresa">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Nombre de la empresa </mat-label>
            <input matInput formControlName="nombre_Empresa" type="text" placeholder="Ingrese el nombre de la empresa">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Fecha de inicio </mat-label>
            <input matInput formControlName="fecha_Inicio" type="date" placeholder="Ingrese la fecha en la que comenzó">
        </mat-form-field>
        <mat-form-field>
            <mat-label> Fecha de finalización </mat-label>
            <input matInput formControlName="fecha_Final" type="date" placeholder="Ingrese la fecha en la que terminó">
        </mat-form-field>
        <mat-form-field>
            <input hidden="true" matInput formControlName="id_experiencia" type="number">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="cancelar()">Cancelar</button>
        <button mat-button (click)="aceptar()" [disabled]="!formulario.valid">Confirmar</button>
    </mat-dialog-actions>
</form>